header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-dark-0);
}
.tablist {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-left: 4rem;
}
.menu-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}
.menu-container > .menu-links {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 8rem;
  background-color: hsl(0, 0%, 50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-links > li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
}
.menu-links > li:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.tablist > div > h2 {
  margin: 0;
  padding: 0;
  color: var(--text-dark-1);
  user-select: none;
  cursor: pointer;
}
.tablist > div > h2:hover {
  color: var(--text-dark-2);
}
.tablist > div > h2.active {
  padding-bottom: 3px;
  border-bottom: 2px solid var(--primary-dark);
}
.tablist > div > h2.edit-mode {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.tablist > div > h2.edit-mode:hover,
.tablist > div > h2.edit-mode.active:hover {
  color: var(--text-dark-3);
}
