:root {
  --primary-dark: hsl(207, 39%, 53%);
  --secondary-dark: hsl(268, 58%, 25%);
  --background-dark-0: hsl(0, 0%, 7%);
  --background-dark-3: hsl(0, 0%, 30%);
  --text-dark-0: hsl(0, 0%, 93%);
  --text-dark-1: hsl(0, 0%, 73%);
  --text-dark-2: hsl(0, 0%, 40%);
  --text-dark-3: hsl(0, 0%, 27%);
}

#root {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}
button {
  height: max-content;
  display: inline-block;
  margin: 0 0.05em 0.05em 0;
  padding: 0em 0.6em;
  outline: none;
  background-color: inherit;
  color: #eee;
  border: 0.1em solid #eee;
  border-radius: 0.12em;
  text-decoration: none;
  font-size: x-large;
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}
button > svg {
  color: #eee;
  height: 16px;
  width: 16px;
}
button:hover > svg,
button:focus > svg,
button.active > svg {
  color: #121212;
}
button:hover,
button:focus,
button.active {
  background-color: #eee;
  color: #121212;
}

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: var(--background-dark-0);
}
.login h1 {
  color: var(--text-dark-0);
}
.login span {
  margin-bottom: 2rem;
  color: var(--text-dark-2);
}
